body{
  background: #141414;
}
.movieapp{
  position: relative;
}
.heading{
    color: #e5e5e5;
    font-weight: 500;
    margin: 0;
    @media(min-width:$screen-sm){
    font-size:24px; 
    }
    font-size: 16px;
}
.section-movie{
    
    
    &.style2{
        margin-top:-120px;
    }
    .heading{
      @media(min-width:$screen-sm){
        margin-left: 20px;
      }
      @media(min-width:1200px){
        margin-left: 40px;
      }
        margin-left: 10px;
        
        
    }
}
.movie-slider {
  @media(min-width:$screen-sm){
    padding: 0 0 0 20px;
  }
  @media(min-width:1200px){
    padding: 0 0 0 40px;
  }
  padding: 0 0 0 10px;
  margin-top: -20px;
  position: relative;
  .swiper-wrapper {
    @media(min-width:$screen-sm){
    padding-top: 50px;
    padding-bottom: 50px;
    }
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .swiper {
    &:hover {
      .swiper-button-next,
      .swiper-button-prev {
        display: flex;
      }
    }
  }
  .swiper-slide {
    @media(min-width:$screen-xs){
      flex: 0 0 33%;
    }
    @media(min-width:$screen-sm){
      flex: 0 0 25%;
    }
    @media(min-width:1200px){
      flex: 0 0 19.41%;
    }
    @media(min-width:1367px){
      flex: 0 0 15%;
    }
    @media(min-width:1670px){
      flex: 0 0 13.41%;
    }
    
    flex: 0 0 50%;
    transition: transform 300ms;
    margin: 0 2px;
    position: relative;
   
    &:hover {
      transform: scale(1.2);
        margin-top: -30px;
      z-index: 1;
    }
    &.swiper-slide-active:hover{
        margin:0 20px;
        margin-top: -35px;
        // flex: 0 0 18%;
    }

    &:last-child:hover{
        margin-left: -20px;
        margin-top: -35px;
        // flex: 0 0 18%;
    }
    img {
      border-top-left-radius: 0.2vw;
      border-top-right-radius: 0.2vw;
      @media(min-width:$screen-sm){
      height: 100px;
      }
      @media(min-width:1200px){
        height: 129px;
      }
      height:90px;
        object-fit: cover;
        width: 100%;
    }
    &:not(:hover){
        img{
            border-radius: 0.2vw;
        }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
    z-index: 100;
    background: rgba(20, 20, 20, 0.5);

    text-align: center;
    height: 130px;
    top: 72px;
    width: 48px;
    &:after {
      font-family: "FontAwesome";

      font-size: 48px;
      color: $white;
    }
  }

  .swiper-button-next {
    right: 0;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    &:after {
      content: "\f105";
    }
  }

  .swiper-button-prev {
    left: -1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    &:after {
      content: "\f104";
    }
  }
 
}

.slider-item {
  padding-bottom: 102px;
  &:hover{
      .info{
          display: block;
          
      }
      video, iframe {
          display: block;
      }
  }
  video, iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index:999;
    border:none;
    display: none;
  }
  .photo{
      position: relative;
  }
.info {
    border-bottom-right-radius: 0.2vw;
    border-bottom-left-radius: 0.2vw;
    display: none;
    background:#0b0b0b;
   padding: 10px;
   position: absolute;
          width: 100%;
         bottom:0;
         
         z-index:20;
    .top-info{
        .text-match{
            i{
                color: rgb(245, 197, 24);
                font-size:14px;
            }
            color: #fff;
            font-weight: 500;
            margin-right: 10px;
            font-size: 12px;
        }
        .limit{
            padding: 0px 5px;
            border: 1px solid rgba(255, 255, 255, 0.5);
            font-size: 11px;
            color: #fff;
            display: inline-block;
            text-align: center;
            letter-spacing: 1px;
            font-weight: 600;
            text-transform:uppercase;
        }
        .date{
            font-size: 12px;
            color: #fff;
            i{
                
                margin-right: 5px;
            }
        }
    }
    .icon-group{
        display: flex;
        margin-bottom: 10px;
        .last{
            margin-left: auto;
        }
    }
    .circle-icon{
        cursor: pointer;
        @include circle(30px);
        border:2px solid rgba(255, 255, 255, 0.5);
        line-height: 26px;
        color: $white;
        &:not(.last){
            margin-right: 5px;
        }
        &:hover{
            border-color:$white;
        }
    }
  .genres-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        position: relative;
        padding: 0 5px;
        display: inline-block;
        color: $white;
        font-size: 11px;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            padding-right: 0;
        }
        &:not(:last-child){
            &:before{
                content:'';
                width: 4px;
                height: 4px;
                border-radius:50%;
                background: rgba(255, 255, 255, 0.5);
                @include centeralways;
                right:-2px;
            }
        }
    }
  }
}
}
// banner
.section-banner{
  height: 100vh;
  background-size: cover;
  background-position: top center;
  position: relative;
  &:before{
    content:'';
    background: linear-gradient(77deg,rgba(0,0,0,.6) 0,rgba(0,0,0,0) 85%);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .banner-content{
    @include centeralways;
    top:40%;
    @media(min-width:$screen-sm){
      padding: 0 20px;
    }
    @media(min-width:1200px){
      padding:0 40px;
    }
    padding:0 10px;
    color: $white;
    max-width: 500px;
    .title{
      font-size: 30px;
      margin: 0;
    }
    .desc{
      font-size: 16px;
    }
    .btn-group{
      margin-top: 15px;
      .btn{
        border-radius: 4px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        padding: 0 30px;
        font-size: 16px;
        cursor: pointer;
        &.btn-play{
          background: $white;
          color: $base-color;
          margin-right: 10px;
        }
        &.btn-info{
          background: rgba(109,109,110,0.7);
        }
      }
    }
  }
}
.movie-listing{
  margin-top: -190px;
  position: relative;
  z-index:10;
  
}
.section-movie-slider{
  .top-heading{
    height: 68px;
  position: absolute;
  top:52px;
  left:0;
  right:0;
  padding: 0 10px;
  z-index:20;
  @media(min-width:$screen-sm){
    padding: 0 20px;
  }
  @media(min-width:1200px){
    padding:0 40px;
  }
  padding:0 10px;
  }
}
.top-heading{
  .heading{
    @media(min-width:$screen-sm){
      font-size: 38px;
    }
  }
  
  display: flex;
  align-items:center;
  margin-bottom: 50px;
  .genres-list{
    color: $white;
    width: 100px;
    position: relative;
    margin-left: 50px;
    
    .drp-menu{
      width: 440px;
      position: absolute;
      top:100%;
      left:0;
      background: rgba(0,0,0,0.9);
      border:solid 1px rgba(255, 255, 255, 0.15);
      z-index:20;
      @media(max-width:$screen-xs-max){
        position: fixed;
        display: block;
        margin: 0;
        list-style: none;
        
        top: 52px;
        left: 0;
        
        height: 100%;
        width: 250px;
        text-align: left;
        overflow-x: scroll;
        
        transition: all .3s cubic-bezier(0.7, 0, 0.3, 1) 0s;
        z-index:20 ;
        
      }
      .genre-item{
        color:$white;
        display: block;
        padding: 5px 10px;
        @media(min-width:$screen-sm){
          float:left;
        width: calc(100% /3);
        }
        cursor: pointer;
      }
    }
    .text{
      font-weight: 500;
      padding: 0 30px 0 10px;
      height: 30px;
      line-height: 28px;
      display: inline-block;
      font-size: 15px;
      border:1px solid $white;
      position: relative;
      cursor: pointer;
      @media(max-width:$screen-xs-max){
        font-size: 0;
        padding: 0;
        width: 36px;
        height: 36px;
        line-height: 36px;
        background: #000;
        position: fixed;
        z-index: 99;
        top: 40%;
        right:0;
      }
      &:before{
        content:"\f078";
        font-family:'FontAwesome';
        @include centeralways;
        right:5px;
        font-size: 12px;
        @media(max-width:$screen-xs-max){
          content:'\f008';
          font-size: 16px;
          @include center;
          
        }
      }
    }
  }
}
.section-movie-grid{
  

 
  @media(min-width:$screen-sm){
    padding: 0 20px;
    padding-top: 50px;
  }
  @media(min-width:1200px){
    padding:0 40px;
    padding-top: 50px;
  }
  padding:0 10px;
  padding-top: 50px;
  .btn-loadmore{
    border:1px solid $white;
    height: 40px;
    line-height: 42px;
    font-size: 16px;
    text-transform: uppercase;
    min-width: 140px;
    font-weight: 600;
    border-radius: 0;
  }
  .grid-list{
    @include clearfix();
     
  }
  .slider-item{
    
    
    float:left;
    transition: transform 300ms;
    
    margin-right: 8px;
    width: calc(100% /2 - 8px);
    @media(min-width:$screen-sm){
      width: calc(100% / 3   - 8px);
    }
    @media(min-width:960px){
      width: calc(100% / 5 - 8px);
    }
    @media(min-width:1670px){
      width: calc((100% / 6 - 8px));
    }
    
    position: relative;
    padding-bottom: 60px;
    margin-top: -10px;
    @media(max-width:$screen-xs-max){
      &:nth-child(2n+1){
        clear:left;
      }
    }
    @media(min-width:$screen-sm) and (max-width:959px){
      &:nth-child(3n+1){
        clear:left;
      }
    }
    @media(min-width:960px) and (max-width:1669px){
      &:nth-child(5n+1){
        clear:left;
      }
    }
    &:nth-child(6n+1){
      @media(min-width:1670px){
      clear:left;
      
      }
    }
    
    &:hover {
      transform: scale(1.2);
        margin-top: -30px;
      z-index: 1;
    }
    
    
    img {
      border-top-left-radius: 0.2vw;
      border-top-right-radius: 0.2vw;
        height: 100%;
        width: 100%;
    }
    &:not(:hover){
        img{
            border-radius: 0.2vw;
        }
    }
    
  }
  
}
.spinning-loader {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-left-color: $white;
  background: transparent;
  animation: rotate-s-loader 1s linear infinite;
  margin: 1rem auto;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
